<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Aconchego.com</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap">
  <link rel="stylesheet" href="/stylesheets/styleHeader.css"> 
</head>
  <body>
    <header>
        <div class="header-content">
            <div class="header-left">
              <nav>
                <a href="/hotels"> Aconchego.com</a>
              </nav>
            </div>
            <div class="header-right">
                <nav>
                    <a href="/entrar">Entrar</a>
                    <a href="/menu">Menu</a>
                </nav>
            </div>
        </div>
    </header>
  </body>
  
</html>
