body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f5f5f5;
    padding: 40px;
    box-sizing: border-box;
}

.card {
    width: 280px;
    background-color: #8DAEC3;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    transition: transform 0.4s ease-in-out, box-shadow 0.5s ease-in-out; /* Aumentei o tempo e usei ease-in-out */
}

.card img {
    width: 100%;
    height: auto; /* Deixe a altura automática para evitar esticamento */
    aspect-ratio: 16/9; /* Define uma proporção fixa para as imagens */
    object-fit: cover; /* Evita esticar ou distorcer a imagem */
}

.card-content {
    padding: 16px;
    background-color: #8DAEC3;
    text-align: left;
}

.card-title {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 8px;
}

.card-text {
    font-family: 'Poppins';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #000000;
}

.card-container {
    display: flex;
    justify-content: center;
    gap: 60px; /* Espaçamento entre os cards */
    flex-wrap: wrap;
}

.other-hotels-title {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
}
.card:hover {
    transform: scale(1.05); /* Aumenta o tamanho do card */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta a sombra para dar efeito de profundidade */
}



/* Ajustes para as setas do slider */
.slick-prev, .slick-next {
    font-size: 0; /* Oculta o conteúdo padrão */
    width: 40px;
    height: 40px;
    background-color: #000; /* Cor de fundo das setas */
    border-radius: 50%;
    z-index: 1;
}

.slick-prev:before, .slick-next:before {
    font-size: 20px;
    color: white; /* Cor das setas */
}

.slick-prev {
    left: -50px; /* Posição da seta esquerda */
}

.slick-next {
    right: -50px; /* Posição da seta direita */
}

/* Ajuste para o tamanho das imagens no slider */
.slick-slide img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
